name: Load Existing Project via Elasticsearch
on:
  workflow_dispatch:
    inputs:
      duration:
        description: 'Duration for each collector instance to run'
        required: false
        default: '2h'
        type: string
      delay_start:
        description: 'Maximum delay in seconds before starting each collector'
        required: false
        default: '300'
        type: string
      numprocs:
        description: 'Number of collector instances to run'
        required: false
        default: '100'
        type: string
      parallelism:
        description: 'Number of parallel jobs to run'
        required: false
        default: '10'
        type: string
      collector_version:
        description: 'Version of the collector to use'
        required: false
        default: '0.138.0'
        type: string

jobs:
  load-existing-project-elasticsearch:
    name: Load
    uses: graphaelli/improved-computing-machine/.github/workflows/single-existing-project.yml@main
    with:
      output_type: elasticsearch
      duration: ${{ inputs.duration }}
      delay_start: ${{ inputs.delay_start }}
      numprocs: ${{ inputs.numprocs }}
      parallelism: ${{ inputs.parallelism }}
      collector_version: ${{ inputs.collector_version }}
